<% if(!channels.isEmpty()) { %>
    <h2>Operations</h2>
    <% for(let channel of channels.all()) { %>
        <% for(let operation of  channel.operations().all()) { %>
            <% if(operation && channel) { %>
                <% let type; 
                   const applyToAllServers = allServersLength === channel.servers().all().length;
                   const servers = applyToAllServers ? [] : channel.servers().all(); 
                   const showInfoList = operation.operationId() || (servers && servers.length);
                 if (operation.isSend()) { 
                     if (operation.reply()) { 
                     type = 'request'; 
                     } else { 
                     type = 'send'; 
                     } 
                 } else if (operation.isReceive()) { 
                     if (operation.reply()) { 
                     type = 'reply';
                     } else { 
                     type = 'receive'; 
                     } 
                 } %>
                <%-  md.render(`${getRenderedTypeForOperation({type})} \`${channel.address()}\` <b>Operation</b>`) %>
                <% if(operation.summary()) { %>
                    <%- md.render(`*${operation.summary().trim()}*`) %> 
                <% } %>
                <% if(showInfoList) { %>
                    <ul>
                        <% if(operation.operationId()) { %>
                            <li><b>Operation ID:</b> <%= operation.operationId() %></li>
                            <% if(servers && servers.length) { %>
                                <li>Available Only on Server:
                                     <%= servers.map(s => {
                                        const serverId = s.id();
                                        const slug = FormatHelpers.slugify(serverId);
                                        return `[${serverId}](#${slug}-server)`;
                                        }).join(', ') %>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                <% } %>
                <% if(channel.hasDescription()) { %>
                    <%- md.render(channel.description()) %>
                <% } %>
                <% if(operation.hasDescription()) { %>
                    <%- md.render(operation.description()) %>
                <% } %>
                <% if(operation.externalDocs()?.hasDescription() ) { %>
                      <a href="<%= operation.externalDocs().url() %>"><%= (operation.externalDocs().description() || 'Find more info here.') %></a>
                <% } %>

                <%- include(tagsPath,{ name:"Operation tags", tags: operation.tags() }) %>

                <% const parameters = schemaHelper.parametersToSchema(channel.parameters().all()); %>
                <% if(parameters) { %>
                    <h4>Parameters</h4>
                    <%- include(schemaPath,{ schema: parameters, schemaName: "Parameters", hideTitle: true, schemaHelper, md, path:"" }) %>
                <% } %>

                <%- include(securityPath,{ header:'Additional security requirements', protocol: null, security: operation.security(), serverHelper, md }) %>


                <%- include(bindingsPath,{ name:"Channel specific information", bindings: channel.bindings(), schemaHelper, schemaPath, md }) %>
                <%- include(bindingsPath,{ name:"Operation specific information", bindings: operation.bindings(), schemaHelper, schemaPath, md  }) %>
                <%- include(extensionsPath,{ name:"Channel extensions", extensions: channel.extensions(), schemaHelper, schemaPath, md  }) %>
                <%- include(extensionsPath,{ name:"Operation extensions", extensions: operation.extensions(), schemaHelper, schemaPath, md  }) %>


                <% const messages = operation.messages().all(); %>
                <% if (messages.length !== 0) { %>
                    <% const messageText = getOperationMessageText({type}); %>
                    <% if(messages.length > 1) { %>
                        <p><%- md.render(messageText) %></p>
                    <% } %>
                    <% for(let message of messages) { %>
                        <%- include(messagePath,{message, bindingsPath, extensionsPath, schemaHelper, schemaPath, md, messageHelper}) %>
                    <% } %>
                <% } %>

                <% if(operation.traits().incorrect  && Object.values(operation.traits() || []).length > 1) { %>
                <div>
                    <h5>Operation Traits</h5>
                    <ul><%= renderObject(operation.traits(), 0) %></ul>
                </div>
            <% } %>

            <% } %>
        <% } %>    
    <% } %>
<% } %>

<% function renderObject(obj, indent) { %>
    <% for (let key in obj) { %>
        <% if (key != 'incorrect') { %>
        <% if (typeof obj[key] === 'object' && obj[key] !== null) { %>
            <li class="nested-object">
                <span class="key"><%= key %>:</span>
                <ul>
                    <%= renderObject(obj[key], indent + 20) %>
                </ul>
            </li>
        <% } else { %>
            <li class="nested-object">
                <span class="key"><%= key %>:</span>
                <span class="value"><%= obj[key] %></span>
            </li>
        <% } %>
        <% } %>
    <% } %>
<% } %>

<% function getRenderedTypeForOperation({type}) { 
   if (isV3) { 
       switch (type) { 
       case 'request': 
        return 'REQUEST';
       case 'send': 
        return 'SEND'; 
       case 'reply': 
        return 'REPLY'; 
       case 'receive': 
        return 'RECEIVE'; 
       } 
     } 
     switch (type) {
     case 'send':  
      return 'SUB'; 
     case 'receive': 
      return 'PUB'; 
     } 
    
     return 'UNKNOWN'; 
 } 

 function getOperationMessageText({type}) {
  let messagesText = 'Accepts **one of** the following messages:';
  if (isV3) {
    if (type === 'send') {
      messagesText = 'Sending **one of** the following messages:';
    } else if (type === 'request') {
      messagesText = 'Request contains **one of** the following messages:';
    } else if (type === 'receive') {
      messagesText = 'Receive **one of** the following messages:';
    } else if (type === 'reply') {
      messagesText = 'Request contains **one of** the following messages:';
    }
  }
  return messagesText;
 } %>