<% if(tags && !tags.isEmpty()) { %>
  <h5><%= name %></h5>
  <div class="table-container">
  <Table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Documentation</th>
      </tr>
    </thead>
    <tbody>
      <% for(let entry of tags.all()){ %>
        <tr>
          <td data-th="Name"><%= entry.name() %></td>
          <td data-th="Description"><%= entry.description() %></td>
          <% if(entry.externalDocs()){ %>
            <td data-th="Documentation"><a href="<%= entry.externalDocs().url() %>" ><%= entry.externalDocs() && entry.externalDocs().hasDescription() ? entry.externalDocs().description() : 'Find more info here' %></a></td>
          <% }else { %>
            <td data-th="Documentation">-</td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </Table>
  </div>
<% } %>  
  
