<% if(tags && !tags.isEmpty()) { %>
  <h5><%= name %></h5>
  <Table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Documentation</th>
      </tr>
    </thead>
    <tbody>
      <% for(let entry of tags.all()){ %>
        <tr>
          <td><%= entry.name() %></td>
          <td><%= entry.description() %></td>
          <% if(entry.externalDocs()){ %>
            <td><a href="<%= entry.externalDocs().url() %>" ><%= entry.externalDocs() && entry.externalDocs().hasDescription() ? entry.externalDocs().description() : 'Find more info here' %></a></td>
          <% }else { %>
            <td>-</td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </Table>

<% } %>  
  
